In [1]:
import nlcc
import glob
import pandas as pd
import yaml

## Load Prompts

In [2]:
topic_categories = ['md', 'spectroscopy', 'bio', 'qm', 'sim', 'cheminf', 'genchem', 'thermo', 'stats', 'plot']
code_categories = ['code', 'human']
lang_categories = ['ch']
keys = ['name', 'language', 'context']
data = None
valid_files = []
def insert_row(r, data):
    if data is None:
        return {k: [v] for k,v in r.items()}
    return  {k: v + [r[k]] for k,v in data.items()}
for fn in glob.glob('../data/**/*.yml'):
    with open(fn, 'r') as f:
        d = yaml.safe_load(f)
        # slice        
        cat_str = d['categories'] 
        d = {k: d[k] for k in keys}
        # duplicate for categories
        tcs = [c for c in topic_categories if c in cat_str]
        ccs = [c for c in code_categories if c in cat_str]
        lcs = [c for c in lang_categories if c in cat_str]
        if len(lcs) == 0:
            lcs = ['en']
        if len(tcs) > 0:
            valid_files.append(fn)
        for tc in tcs:
            for cc in ccs:
                for lc in lcs:
                    d.update({'topic': tc, 'type': cc, 'natlang': lc})                    
                    data = insert_row(d, data)        
df = pd.DataFrame.from_dict(data)

In [3]:
df.groupby('topic').count()

,name,language,context,type,natlang
topic,,,,,
bio,11,11,11,11,11
cheminf,10,10,10,10,10
genchem,11,11,11,11,11
md,10,10,10,10,10
plot,10,10,10,10,10
qm,6,6,6,6,6
sim,4,4,4,4,4
spectroscopy,4,4,4,4,4
stats,10,10,10,10,10
thermo,2,2,2,2,2

## Programmatic Prompts

In [7]:
paths = ' '.join(valid_files)
!nlcc-bench $paths override_bench.csv --n 5 --prompt python

../data/protein-render/protein-render.yml

In [ ]:
!nlcc-bench $paths override_bench.csv --n 5

In [5]:
bf = pd.read_csv('override_bench.csv', delim_whitespace=True)
pd.merge(bf, df, how='outer', on='name')

,name,Run_0,Run_1,Run_2,language,context,topic,type,natlang
0,aa_polarity,Pass,Pass,Pass,python,python,bio,code,en
1,alignment,Fail,Fail,Fail,python,mdtraj,md,code,en
2,angle,Fail,Fail,Fail,NaN,NaN,NaN,NaN,NaN
3,aromatic_aa,Pass,Pass,Pass,python,python,bio,code,en
4,arrhenius,Fail,Fail,Fail,python,python,genchem,code,ch
...,...,...,...,...,...,...,...,...,...
74,seq-trans,NaN,NaN,NaN,python,biopython,bio,code,en
75,spectral_r,NaN,NaN,NaN,python,numpy,stats,code,en
76,substructure,NaN,NaN,NaN,python,rdkit,cheminf,code,ch
77,tanimoto,NaN,NaN,NaN,python,rdkit,cheminf,code,ch
78,unbdistance,NaN,NaN,NaN,python,mdtraj,md,code,en